<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sistem Informasi Pura</title>
	</head>
	<body>
		<div
			style="
				font-family: Helvetica, Arial, sans-serif;
				min-width: 1000px;
				overflow: auto;
				line-height: 2;
			"
		>
			<div style="margin: 50px auto; width: 70%; padding: 20px 0">
				<div style="border-bottom: 1px solid #eee">
					<a
						href=""
						style="
							font-size: 1.4em;
							color: #00466a;
							text-decoration: none;
							font-weight: 600;
						"
						>Sistem Informasi Pura</a
					>
				</div>
				<p style="font-size: 1.1em">Hi,</p>
				<p>
					Terima kasih telah mendaftar di sistem informasi Pura. Berikut adalah
					kode OTP Anda untuk menyelesaikan proses verifikasi pendaftaran:
				</p>
				<h2
					style="
						background: #00466a;
						margin: 0 auto;
						width: max-content;
						padding: 0 10px;
						color: #fff;
						border-radius: 4px;
					"
				>
					{{otp}}
				</h2>
				<p style="font-size: 0.9em">Salam,<br />Admin Pura</p>
				<hr style="border: none; border-top: 1px solid #eee" />
				<div
					style="
						float: right;
						padding: 8px 0;
						color: #aaa;
						font-size: 0.8em;
						line-height: 1;
						font-weight: 300;
					"
				>
					<p>Sistem Informasi Pura</p>
					<p>Jl gunung xxx</p>
					<p>Admin</p>
				</div>
			</div>
		</div>
	</body>
</html>
